@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "@tailwindcss/typography";


@theme {
  --font-poppins: "Poppins", sans-serif;
    --font-nunito: "Nunito", sans-serif;
    --main-color: #2563eb;
    --secondary-color: #fbbf24;
}